<button routerLink="/principal">Regresar</button>
<div style="padding: 1%;">
    <p>Catalogo de Interrupciones</p>
    <button >Agregar</button>
    <div>
      <input type="text" placeholder="Buscar ..." class="form-control" id="rol" [(ngModel)]="term" />
  </div>
    <table id="customers">
        <tr>
            <th style="width: 5%;text-align: center;">No</th>
            <th style="width: 35%;" >Nombre</th>
            <th style="width: 10%;">Origen</th>
            <th style="width: 15%;">Causa</th>
            <th style="width: 10%;">Linea</th>
            <th style="width: 10%;">Observación</th>
            <th style="width: 5%;">Fecha</th>
            <th style="width: 10%;">Opción</th>
        </tr>
        <tr *ngFor="let inte of listaInterrupciones |filter:term| paginate: { itemsPerPage: 10, currentPage: p }; let i = index" style="font-size: 12px;">
            <td style="text-align: center;">{{i+1}}</td>
            <td>{{inte.SCAT_NOMBRE}}</td>
            <td>{{inte.SCAT_ORIGEN}}</td>
            <td>{{inte.SCAT_CAUSA}}</td>
            <td>{{inte.SCAT_LINEA}}</td>
            <td>{{inte.SCAT_OBSERVACION}}</td>
            <td>{{inte.SCAT_FECHA}}</td>
            <td style="text-align: center;">
                <button mat-icon-button color="primary">
                  <mat-icon style="color: #052d6c;">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" style="color: #AD1212;">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
        </tr>
    </table>
    <pagination-controls style="color:red; text-align: center;" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</div>

