<button routerLink="/principal">Regresar</button>
<div style="padding: 1%;">
    <p>Listado Alimentadores</p>
    <button>Agregar</button>
    <table id="customers">
        <tr>
            <th>No</th>
            <th>Provincia</th>
            <th>Cantón</th>
            <th>Linea</th>
            <th>Nombre</th>
            <th>Observación</th>
            <th>Referencia</th>
            <th>SubAdms</th>
            <th>Subestación</th>
            <th>KVA</th>
            <th>Tipo</th>
            <th>Opción</th>
        </tr>
        <tr *ngFor="let ali of listaAlimentadores | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" style="font-size: 12px;">
            <td>{{i+1}}</td>
            <td>{{ali.SALIM_PROVINCIA}}</td>
            <td>{{ali.SALIM_CANTON}}</td>
            <td>{{ali.SALIM_LINEA}}</td>
            <td>{{ali.SALIM_NOMBRE}}</td>
            <td>{{ali.SALIM_OBSERVACION}}</td>
            <td>{{ali.SALIM_REFERENCIA}}</td>
            <td>{{ali.SALIM_SUBADMS}}</td>
            <td>{{ali.SALIM_SUBESTACION}}</td>
            <td>{{ali.SALIM_KVA}}</td>
            <td>{{ali.SALIM_TIPO}}</td>
            <td style="text-align: center;">
                <button mat-icon-button color="primary">
                  <mat-icon style="color: #052d6c;">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" style="color: #AD1212;">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
        </tr>
    </table>
    <pagination-controls style="color:red; text-align: center;" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</div>

