<form [formGroup]="formCausas" action="" class="example-form d-flex flex-column align-items-center">
  <button class="position-absolute top-0 start-100 translate-middle" mat-fab color="warn" (click)="ngbActiveModal.close('Close click')">
    <mat-icon>close</mat-icon>
  </button>
  <p class="p-2 m-2 text-white w-75 rounded text-center" style="background-color: #20315f;">Formulario de causa de fallo</p>
  <!--Nombre-->
  <mat-form-field class="w-75" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" formControlName="SCAU_NOMBRE" required />
    <!-- <mat-error *ngIf="nombre.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <!--Referencia-->
  <mat-form-field class="w-75" appearance="outline">
    <mat-label>Referencia</mat-label>
    <input
      matInput
      placeholder="Referencia"
      formControlName="SCAU_REFERENCIA"
      required
    />
    <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <!--Observación-->
  <mat-form-field class="w-75" appearance="outline">
    <mat-label>Observación</mat-label>
    <input
      matInput
      placeholder="Observación"
      formControlName="SCAU_OBSERVACION"
    />
    <!-- <mat-error *ngIf="observacion.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
      <!--Estado-->
      <mat-form-field class="w-75" appearance="outline" *ngIf="this.causaFallo!=null">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="SCAU_ESTADO" required (valueChange)="changeEstado($event)" >
          <mat-option value="ACTIVO">ACTIVO
          </mat-option>
          <mat-option value="INACTIVO">INACTIVO
          </mat-option>
        </mat-select>
      </mat-form-field>

  <!--Fecha-->
  <mat-form-field class="w-75" appearance="outline">
    <mat-label>Fecha</mat-label>
    <input type="date" matInput placeholder="Fecha" formControlName="SCAU_FECHA" required />
    <!-- <mat-error *ngIf="fecha.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <button class="b-2 m-2" mat-raised-button color="primary" [disabled]="!formCausas.valid" (click)="onGuardarCausaFallo()" >Guardar</button>

</form>
