<div style="padding-left: 20px;padding-top: 10px;">
    <table>
        <tr>
            <td>
                <input type="file" name="archivosubido" (change)="onFileChange($event)"><br>
            </td>
            <td><button (click)="doInforme()" style="height: 37px;background-color: brown;border-radius: 10px;color: aliceblue;border: 0px solid;">Informe Diario</button></td>
        </tr>
    </table><br>
    <label>Resultados</label>
    <button (click)="onIncidencias()" style="height: 37px;background-color: green;border-radius: 10px;color: aliceblue;border: 0px solid;">Exportar Excel</button>
    <br><br>
    <div style="width: 98%;">
        <input type="text" placeholder="Buscar ..." class="form-control" id="rol" [(ngModel)]="term" />
    </div>
    <div style="overflow-x:auto;width: 98%;font-size: 10px;">
        <table id="customers">
            <tr>
                <th >No</th>
                <th *ngFor="let row of titulos">{{row}}</th>
            </tr>
            <tr *ngFor="let row of tabla | filter:term| paginate: { itemsPerPage: 10, currentPage: p } ;">
                  <td *ngFor="let val of row ;let indice=index" >
                    <div *ngIf="row[indice]==='false' || row[indice]==='true' ;then checkbox else texto"></div>  
                    <ng-template #checkbox>  
                        <input type="checkbox" (change)="onChangeCheckbox(row[0])" [checked]="row[indice]==='true'">
                    </ng-template>
                    <ng-template #texto>
                        {{val}}
                    </ng-template>
                  </td>
              </tr> 
          </table>
    </div>
    <pagination-controls style="color:red; text-align: center;" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

