<mat-drawer-container style="height: 100%;width: 100%;"  autosize>

<div style="background-color: #CFE1EC;border-style: outset;">
  <table style="width: 100%;">
    <tr>
      <td>
        <button mat-button [matMenuTriggerFor]="menuArch">Archivos <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #menuArch="matMenu" class="myMenu">
        <button mat-menu-item [routerLink]="['principal']" class="myMenuItem">Subir</button>
        <button mat-menu-item [routerLink]="['subir-archivos']" class="myMenuItem">Registro</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuAli">Alimentadores <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #menuAli="matMenu" >
        <button mat-menu-item [routerLink]="['alimentador']">Listado</button>
      </mat-menu>
      
      <button mat-button  [matMenuTriggerFor]="menuCau">Causas<mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #menuCau="matMenu" >
        <button mat-menu-item [routerLink]="['causas']">Listado</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuCat">Catalogo Int.<mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #menuCat="matMenu" >
        <button mat-menu-item [routerLink]="['catalogo']">Listado</button>
      </mat-menu>
      <button mat-button [routerLink]="['inicio']" >Inicio<mat-icon>arrow_drop_down</mat-icon></button>
      </td>
      <td style="text-align: right;">
        <label >Usuario : slopez</label>
        <button mat-button><mat-icon>output</mat-icon></button>
      </td>
    </tr>
  </table>

</div>

    <!-- Contenido  -->
  <router-outlet >
<span style="left: 89%;position: absolute;top:5%;font-weight: bold;color: white;;font-size: 20px;">EEASA INDICEST</span>
  </router-outlet>
</mat-drawer-container>

