<form [formGroup]="formIncidencia" action="" class="example-form d-flex flex-column align-items-center">
    <button class="position-absolute top-0 start-100 translate-middle" mat-fab color="warn" (click)="ngbActiveModal.close('Close click')">
      <mat-icon>close</mat-icon>
    </button>
    <p class="p-2 m-2 text-white w-75 rounded text-center" style="background-color: #20315f;">Formulario de incidencias</p>
    <!--No. Incidente-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>No. Incidente</mat-label>
      <input matInput placeholder="No. Incidente" formControlName="SIND_NINCIDENTE"  />
      <!-- <mat-error *ngIf="nombre.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Indicador Mantenimiento o Falla-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Indicador Mantenimiento o Falla</mat-label>
        <input matInput placeholder="Indicador Mantenimiento o Falla" formControlName="SIND_INDICADOR_FM"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Nivel de afectación de la interrupción a la Red-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Nivel de afectación de la interrupción a la Red</mat-label>
        <input matInput placeholder="Nivel de afectación de la interrupción a la Red" formControlName="SIND_NIVEL_AFECT"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--ALIMENTADOR ASOCIADO A LA FALLA O SUSPENSIÓN-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Alimentador Asociado a la falla o suspensión</mat-label>
        <input matInput placeholder="Alimentador Asociado a la falla o suspensión" formControlName="SIND_ALIMENTADOR"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Etapa funcional en la que se presentó la falla-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Etapa funcional en la que se presentó la falla</mat-label>
        <input matInput placeholder="Etapa funcional en la que se presentó la falla" formControlName="SIND_ETAPA_FUN"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Instalación / Equipo que se desconectó a la falla-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Instalación / Equipo que se desconectó a la falla</mat-label>
        <input matInput placeholder="Instalación / Equipo que se desconectó a la falla" formControlName="SIND_INSTALACION_EF"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Provincia-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Provincia</mat-label>
        <input matInput placeholder="Provincia" formControlName="SIND_PROVINCIA"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Cantón-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Cantón</mat-label>
        <input matInput placeholder="Cantón" formControlName="SIND_CANTON"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Sector-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Sector</mat-label>
        <input matInput placeholder="Sector" formControlName="SIND_SECTOR"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Propiedad-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Propiedad</mat-label>
        <input matInput placeholder="Propiedad" formControlName="SIND_PROPIEDAD"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Protección que Operó-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Protección que Operó</mat-label>
        <input matInput placeholder="Protección que Operó" formControlName="SIND_PROTECCION"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Tipo de Protección que actuo-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Tipo de Protección que actuo</mat-label>
        <input matInput placeholder="Tipo de Protección que actuo" formControlName="SIND_TIPO_PROTECCION"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Transmisor-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Transmisor</mat-label>
        <input matInput placeholder="Transmisor" formControlName="SIND_TRANSMISOR"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Línea de Subtransmisión-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Línea de Subtransmisión</mat-label>
        <input matInput placeholder="Línea de Subtransmisión" formControlName="SIND_LINEA_SUBT"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Subestación-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Subestación</mat-label>
        <input matInput placeholder="Subestación" formControlName="SIND_SUBESTACION"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Nivel de Tensión KV-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Nivel de Tensión KV</mat-label>
        <input matInput placeholder="Nivel de Tensión KV" formControlName="SIND_NIVEL_TENSION"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Origen de Interrupción-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Origen de Interrupción</mat-label>
        <input matInput placeholder="Origen de Interrupción" formControlName="SIND_INTE_ORIGEN"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Causa de Interrupción-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Causa de Interrupción</mat-label>
        <input matInput placeholder="Causa de Interrupción" formControlName="SIND_INTE_CAUSA"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Causas-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Causas</mat-label>
        <input matInput placeholder="Causas" formControlName="SIND_CAUSAS"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Potencial Nominal Instalado-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Potencial Nominal Instalado</mat-label>
        <input matInput placeholder="Potencial Nominal Instalado" formControlName="SIND_POTENCIAL_NI"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Potencial Nominal Fuera de Servicio-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Potencial Nominal Fuera de Servicio</mat-label>
        <input matInput placeholder="Potencial Nominal Fuera de Servicio" formControlName="SIND_POTENCIAL_NFS"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Fecha Inicio Interrupcion-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Fecha Inicio Interrupcion</mat-label>
        <input matInput placeholder="día/mes/año" formControlName="SIND_INT_FECHA_INICIO"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Hora Inicio Interrupcion-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Hora Inicio Interrupcion</mat-label>
        <input matInput placeholder="hora:minuto:segundo" formControlName="SIND_INT_HORA_INICIO"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Fecha Fin Interrupcion-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Fecha Fin Interrupcion</mat-label>
        <input matInput placeholder="día/mes/año" formControlName="SIND_INT_FECHA_FIN"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Hora Fin Interrupcion-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Hora Fin Interrupcion</mat-label>
        <input matInput placeholder="hora:minuto:segundo" formControlName="SIND_INT_HORA_FIN"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Duración de Interrupción Horas/min/seg-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Duración de Interrupción Horas/min/seg</mat-label>
        <input matInput placeholder="hora:minuto:segundo" formControlName="SIND_INT_DURACION"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Duración de Interrupción Horas-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Duración de Interrupción Horas</mat-label>
        <input matInput placeholder="Duración de Interrupción Horas" formControlName="SIND_INT_DURACION_HORAS"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--FMIK-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>FMIK</mat-label>
        <input matInput placeholder="FMIK" formControlName="SIND_FMIK"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--TTIK-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>TTIK</mat-label>
        <input matInput placeholder="TTIK" formControlName="SIND_TTIK"  />
      <!-- <mat-error *ngIf="referencia.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!--Razon para Descartar-->
    <mat-form-field class="w-75" appearance="outline">
      <mat-label>Razon para Descartar</mat-label>
      <input  matInput placeholder="Razon para Descartar" formControlName="SIND_INCIDENCIA_DES_RAZON"  />
      <!-- <mat-error *ngIf="fecha.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <button class="b-2 m-2" mat-raised-button color="primary" [disabled]="!formIncidencia.valid" (click)="onGuardarIncidencia()" >Guardar</button>
  
  </form>
  
